.container {
  width: 100%;
  height: 100%;
  background-color: #3333337d;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  @apply bg-[#fff] w-[460px] h-[448px] rounded-[30px] flex flex-col justify-evenly items-center;
}
