.container {
  width: 100%;
  height: 100%;
  background-color: #3333337d;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.box {
  @apply bg-[#fff] w-[460px] h-[448px] p-[25px] rounded-[30px] flex flex-col justify-between items-center;
}
.box p {
  height: 80px;
  font-size: 20px;
  font-weight: 700;
  /* margin-top: px; */
}
.box form {
  justify-content: space-between !important;
}
.box div input {
  background-color: #f2f2f2;
  height: 42px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  /* margin-top: 5px; */
}
.box div label {
  font-size: 14px;
}
.box div small {
  color: #ff0000;
  margin-top: 3px;
  margin-right: 15px;
  font-size: 10px;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 0 !important;
  margin-top: 15px;
}
.buttons button {
  @apply w-[185px] h-[42px] mr-[0px] p-[10px] rounded-[10px];
}
.buttons button:first-child {
  @apply bg-[#3a8bed] text-[#fff];
}
.buttons button:last-child {
  @apply bg-[#DFDFDF];
}
@media (max-width: 600px) {
  .box {
    width: 95%;
  }
  .buttons button {
    width: 130px;
  }
}
/* .box button {
  background-color: #3a8bed;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 53px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
