.container {
  width: 100%;
  height: 68px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #e4e4e4;
  /* margin: 28px; */
  border-radius: 16px;
}
