.container {
  width: 100%;
  height: 68px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 80px;
  border: 1px solid #e4e4e4;
  /* margin: 28px; */
  border-radius: 16px;
}
.search {
  @apply w-2/4 h-full flex items-center;
}
.search input {
  @apply w-1/3 h-1/2 mr-[10px] p-[5px] outline-0;
}
.info {
  @apply flex items-center h-full relative w-auto;
}
.info img {
  @apply h-full border rounded-full p-[5px] ml-[5px] cursor-pointer;
}
.details {
  @apply w-[120px] flex flex-col justify-start;
}
.info span {
  color: #282828;
}

.logout button {
  @apply bg-[#f54f6c];
}
@media (max-width: 600px) {
  .container {
    height: 40px;
    border-radius: 10px;
    padding: 4px 8px;
  }
  .details {
    width: 80px;
    height: 100%;
    align-items: start;
  }
  .details p {
    font-size: 14px;
    height: 50%;
  }
  .details span {
    font-size: 10px;
  }
  .search input {
    font-size: 12px;
    width: 60%;
  }
  .search {
  }
}
