.container {
  background-color: #fff;
  height: 650px;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
}
.container2 {
  background-color: #fff;
  height: 650px;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container table {
  width: 100%;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  text-align: right;
  font-weight: 400;
}
.container table thead {
  background-color: #f2f2f2;
  height: 70px;
  border-radius: 20px;
  width: 100%;
}
.container table tbody {
  color: #282828;
}

.container thead th:first-child {
  padding-right: 60px;
}

.header {
  font-size: 24px;
}

.addBtn {
  width: 80px;
  height: 80px;
  background-color: #55a3f0;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 25px;
  margin-top: 20px;
}
.id {
  display: table-cell;
}
.empty {
  display: none;
}
@media (max-width: 600px) {
  .container table thead {
    font-size: 12px;
  }
  .container table tbody {
    font-size: 12px;
  }
  .id {
    display: none;
  }
  .empty {
    display: table-cell;
  }
  .container thead th:first-child {
    padding-right: 10px;
  }
}
