.container {
  background-color: #f7f8f8;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBox {
  background-color: #fff;
  width: 470px;
  height: 600px;
  border-radius: 40px;
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.formBox img {
  margin-bottom: 15px;
}
.formBox div input {
  background-color: #f2f2f2;
  height: 53px;
  border-radius: 15px;
  padding: 22px 15px;
  margin-top: 5px;
}
.formBox div label {
  margin-right: 10px;
}
.formBox div small {
  color: #ff0000;
  margin-top: 3px;
  margin-right: 15px;
  font-size: 10px;
}
.formBox button {
  background-color: #3a8bed;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 53px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
