@reference "../App.css";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form div input {
  background-color: #f2f2f2;
  height: 53px;
  border-radius: 15px;
  padding: 22px 15px;
  margin-top: 5px;
}
.form div label {
  margin-right: 10px;
}
.form div small {
  color: #ff0000;
  margin-top: 3px;
  margin-right: 15px;
  font-size: 10px;
}
.form button {
  background-color: #3a8bed;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 53px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
